<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Move Mate</title>
    {{! Bootstrap }}
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/julio.css' />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>

    <nav class='row navbar navbar-expand-lg text-light position-sticky w-100'>
      <div class='container-fluid'>
        <a class='navbar-brand text-light custom-a' href='#'><img  src="/images/logo.jpg" alt=""></a>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarNavDropdown'
          aria-controls='navbarNavDropdown'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse m-4' id='navbarNavDropdown'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <a
                class='nav-link active text-light'
                aria-current='page'
                href='#'
              ><h4>Home</h4></a>
            </li>
            <li class='nav-item text-light'>
              <a class='nav-link text-light' href='#'><h4>Features</h4></a>
            </li>
            <li class='nav-item'>
              <a class='nav-link text-light' href='#'><h4>Pricing</h4></a>
            </li>           
          </ul>
        </div>
        <a class="navbar-brand text-light  d-none d-lg-block p-4" href="/login">Login</a>
        <a class="navbar-brand text-light d-none d-lg-block p-4" href="/login">Signup</a>
      </div>
    </nav>
    <!-- Conditionally render login or logout links -->
    {{!-- {{#if logged_in}}
            <a href='/profile'>profile</a>
            |
            <button class='no-button' id='logout'>logout</button>
          {{else}}
            <a href='/login'>login</a>

            <a href='/login'>signup</a>
          {{/if}} --}}

    <main>

      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <footer>
      <div class='card text-center'>
        <div class='card-header'>
          Featured
        </div>
        <div class='card-body'>
          <h5 class='card-title'>Special title treatment</h5>
          <p class='card-text'>With supporting text below as a natural lead-in
            to additional content.</p>

        </div>
        <div class='card-footer text-body-secondary'>
        </div>
      </div>
    </footer>

    {{! Bootstrap Script }}
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm'
      crossorigin='anonymous'
    ></script>
    {{! Jquery Script }}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js'
      integrity='sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <!-- Render script for logged in users only -->
    {{!-- {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}} --}}
  </body>

</html>