{{! {Image of a someone holding a phone with words..Have any Questions} }}

<div>
  <video id='video' width='auto' height='auto' controls autoplay>
    <source src='/images/MoveMatevideo.mp4' type='video/mp4' />
  </video>
</div>

{{! <header style='height: 363px; width:100%'>
   <img src="/images/Blue and Orange Spring Sale eCommerce Website Banner.png" style:"width:100%; height:100%; object-fit:cover" alt=""> 
  </header>
</div> }}
<div class='d-flex justify-content-center mt-4 mb-4'>
  <div class='col-sm-8'>
    <h2>
      Frequently Asked Questions (FAQs) - MoveMate Truck Share for Delivery</h2>
    <p class='about'>
      Welcome to our Truck Share Program! Below, you'll find answers to some
      common questions about our service for delivering heavy appliances using
      our shared trucks.</p>
    <p>
      <b> What is the Truck Share Program for Appliance Delivery?</b>
      Our Truck Share Program is a convenient service that allows users to
      request a truck to transport their heavy appliances from one location to
      another. Whether you're moving or need to deliver a new appliance, our
      program makes it easy to access the right vehicle for the job.
    </p>
  </div>
</div>

<div style='width:100%;height:50vh'>
  <img
    style='width:100%; height:100%; object-fit:cover'
    src='/images/Blue and Orange Spring Sale eCommerce Website Banner.png'
    alt=''
  />
</div>

{{! <div id='movematevideos'>
  <video id='video' width= "auto" height="auto" controls autoplay>
    <source src='/images/MoveMatevideo.mp4' type='video/mp4' />
  </video>
</div> }}
<div
  class='col-12 d-flex flex-row justify-content-center justify-content-evenly mt-5'
>
  <div class='article col-sm-10'>
    <h2> How does the Truck Share Program work? </h2>
    <p>
      Request: Users can request a truck by filling out our online form or using
      our mobile app. Specify the appliance details, pickup and delivery
      locations, and the date and time you need the truck. Vehicle Selection:
      Based on your requirements, we'll match you with an available truck in
      your area. You can choose the truck size that best suits your needs.
      Confirmation: Once your request is confirmed, you'll receive all the
      necessary details about the truck, including the driver's contact
      information. Delivery: On the scheduled date, our driver will arrive at
      the pickup location, help you load the appliance, and safely transport it
      to the delivery address.
    </p>
  </div>
  <div class='article column2 col-sm-4'>
    <h2> What types of appliances can I transport with this service?</h2>
    <p>
      You can use our Truck Share Program to deliver a wide range of heavy
      appliances, including refrigerators, washing machines, dryers, stoves, and
      more.
    </p>
  </div>
  <div class='article column3 col-sm-4'>
    <h2> How much does the Truck Share Program cost?</h2>
    <p>
      The cost varies based on factors such as the distance, the size of the
      appliance, and the duration of the rental. You can get an estimate when
      you submit your request. We aim to offer competitive and transparent
      pricing.
    </p>
  </div>
</div>