<div
  class='ml-5 mt-3 card position-absolute bg-transparent border-0'
  style='width: 5rem;'
>
  <img src='/images/logo.jpg' class='card-img-top' alt='...' />

</div>

{{! Video Section }}
<section class='position-relative custom-hero'>
  <video class='position-absolute z-index-2' autoplay loop playsinline muted>
    <source src='/images/homeVideoMoveMate.mp4' type='video/mp4' />
  </video>
  <div class='position-relative custom-container-text'>
    <h1 class='buttn from-center'>Delivery Made Simple</h1>
  </div>
</section>
{{! ------------------ }}
{{! Map Sesion }}
<div class='position-relative z-index-2'>
  <div class='background-img-map position-absolute'></div>

  <section class='custom-section-map d-flex justify-content-center'>
    <div
      class='col-10 position-relative d-flex flex-row justify-content-center rounded card-shadow'
    >
      <div
        class='col-9 position-relative z-3 text-center m-5 d-none d-lg-block rounded bg-blue card-shadow'
      >
        <h5 class='color-yellow mt-4'>We Provide Service Across All The United
          Estates</h5>
        <p class='color-cake'>Are you planning a move? Whether it's across town
          or across the country, MoveMate is here to simplify your relocation
          journey. We understand that moving can be a stressful experience, but
          with MoveMate by your side, you can move with confidence.</p>
      </div>
      <img
        class='position-absolute z-1'
        src='/images/map.jpg'
        style='width: 100%;height:100%; object-fit: cover; border-radius: 5px;'
        alt=''
      />
    </div>

  </section>
  {{! ---------------------- }}
  {{! Cards Section }}
  <section
    class='d-flex flex-row justify-content-center justify-content-evenly custom-section-cards'
  >

    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/6.png' class='card-img-top shake' alt='...' />
      <div class='card-body color-blue'>
        <h2>Fast Service</h2>
        <p>We offer a wide range of services tailored to your specific needs,
          from packing and loading to transportation and unpacking.</p>
      </div>

    </div>
    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/12.png ' class='card-img-top shake' alt='...' />
      <div class='card-body color-blue'>
        <h2>Care</h2>
        <p class='card-text'>We believe in fair and transparent pricing. No
          hidden fees or surprises just straightforward quotes that fit your
          budget.</p>
      </div>

    </div>

    <div
      class='card custom-card-animation border border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/13.png' class='card-img-top shake' alt='...' />
      <div class='card-body color-blue'>
        <h2>24/7 Support</h2>
        <p class='card-text'>Our friendly team is here to help. Contact us today
          to discuss your upcoming move, request a quote, or schedule your
          moving services.

        </p>
      </div>

    </div>
  </section>
</div>
{{! ----------------------- }}

{{!How Move Mate Work  }}

<section
  class='mt-5 d-flex flex-row justify-content-center py-sm-3 mb-4 text-center'
><h1 class='col-12 mb-3 p-3 bg-yellow color-blue spacing'>How Move Mate Work?</h1>
  <div
    class='col-10 mt-4 d-flex flex-row justify-content-center justify-content-evenly'
  >

    <div class='col-10 col-sm-5 col-md-4 col-xl-3 show-card color-blue'>

      <img
        src='https://elements-cover-images-0.imgix.net/34964ab0-441c-4da7-8cd6-260df6f09aec?auto=compress%2Cformat&w=1370&fit=max&s=e56a9007e3144efdea6aa690a8d0e34a'
        class='card-img-top img-fluid mb-2'
        alt=''
      />

      <h4>1. Enter Your Details</h4>
      <p class='mx-auto text-navy-70'>Getting started with MoveMate is easy.
        Simply enter your details, including your current location, destination,
        moving date, and the type of services you need.</p>
    </div>
    <div class='col-10 col-sm-5 col-md-4 col-xl-3 show-card  color-blue'>
      <img
        src='https://elements-cover-images-0.imgix.net/a8c33a93-28c5-4115-81b9-555b66e8f99d?auto=compress%2Cformat&fit=max&w=1370&s=4431973ba67ac07d7d95ecef77f8a4e4'
        class='card-img-top img-fluid mb-2'
        alt=''
      />
      <h4>2. Follow Your Shipment</h4>
      <p class='mx-auto text-navy-70'>Our advanced tracking system allows you to
        stay updated on the location and status of your belongings throughout
        the entire moving process.

      </p>
    </div>
    <div class='col-10 col-sm-5 col-md-4 col-xl-3 show-card  color-blue'>
      <div class='img-small'>
        <img
          src='https://elements-cover-images-0.imgix.net/91c9c197-f11d-48ea-9307-8f5df065d866?auto=compress%2Cformat&fit=max&w=1370&s=e857022b09b8d079c30fa448455efd42'
          class='card-img-top img-fluid mb-2'
          alt=''
        />
      </div>
      <h4>3. Review and Tip</h4>
      <p class='mx-auto text-navy-70'>Your feedback matters to us; it helps us
        refine our services and ensures that every customer receives the best
        possible moving experience.</p>
    </div>
  </div>
  <div class='col-12 m-5 '>
      <a
        href='/login'
        class='navigation navigation-center card-shadow bg-blue'
      >LOGIN</a>
    </div>
</section>

{{! ------------------ }}

{{! NUmbers Section }}

<section
  class='d-flex flex-row justify-content-center justify-content-evenly text-white bg-blue mb-5 pt-5'
  id='custom-number'
>
  <div class='col-12 text-center'>
    <h2>Use Move Mate for all of your delivery & moving needs.</h2>
  </div>
  <div
    class='col-10 col-sm-5 col-xl-3 col-xxl-2 text-center mb-5'
    style='height: 15vh;'
  >
    <div
      id='carouselExampleRide'
      class='carousel slide'
      data-bs-ride='carousel'
    >
      <div class='carousel-inner'>
        <div class='carousel-item active' data-bs-interval='6000'>
          <h3 class='number' id='num0' data-count='1500'>0</h3>
          <h5 class='number-text text-black card-shadow'>Deivered Package</h5>
        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num3' data-count='380'>0</h3>
          <h5 class='number-text text-black card-shadow'>Office Wordwide</h5>
        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num6' data-count='900'>0</h3>
          <h5 class='number-text text-black card-shadow'>Employees</h5>
        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num9' data-count='650'>0</h3>
          <h5 class='number-text text-black card-shadow'>Tons of Goods</h5>
        </div>
      </div>
    </div>
  </div>
  <div
    class='col-10 col-sm-5 col-xl-3 col-xxl-2 text-center mb-5'
    style='height: 15vh;'
  >
    <div
      id='carouselExampleRide'
      class='carousel slide'
      data-bs-ride='carousel'
    >
      <div class='carousel-inner'>
        <div class='carousel-item active' data-bs-interval='6000'>
          <h3 class='number' id='num1' data-count='650'>0</h3>
          <h5 class='number-text text-black card-shadow'>Tons of Goods</h5>
        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num4' data-count='1500'>0</h3>
          <h5 class='number-text text-black card-shadow'>Deivered Package</h5>

        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num7' data-count='380'>0</h3>
          <h5 class='number-text text-black card-shadow'>Office Wordwide</h5>

        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num10' data-count='900'>0</h3>
          <h5 class='number-text text-black card-shadow'>Employees</h5>

        </div>
      </div>
    </div>
  </div>
  <div
    class='col-10 col-sm-5 col-xl-3 col-xxl-2 text-center mb-5'
    style='height: 15vh;'
  >
    <div
      id='carouselExampleRide'
      class='carousel slide'
      data-bs-ride='carousel'
    >
      <div class='carousel-inner'>
        <div class='carousel-item active' data-bs-interval='6000'>
          <h3 class='number' id='num2' data-count='900'>0</h3>
          <h5 class='number-text text-black card-shadow'>Employees</h5>
        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num5' data-count='650'>0</h3>
          <h5 class='number-text text-black card-shadow'>Tons of Goods</h5>

        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num8' data-count='1500'>0</h3>
          <h5 class='number-text text-black card-shadow'>Deivered Package</h5>

        </div>
        <div class='carousel-item' data-bs-interval='6000'>
          <h3 class='number' id='num11' data-count='380'>0</h3>
          <h5 class='number-text text-black card-shadow'>Office Wordwide</h5>
        </div>
      </div>
    </div>
  </div>

</section>
{{! -------------- }}
{{! About Us Section }}

<section class='d-flex justify-content-evenly mb-5' id='about'>
  <div class='col-11 d-flex flex-row'>
    <div class='d-none d-lg-block col-lg-4'>
      <img
        class='card-shadow'
        src='/images/happy-men.jpg'
        style='object-fit:cover; border-radius:5px'
        alt=''
      />
    </div>
    <div class='col-12 col-lg-8 color-blue p-3 show-card'>
      <h3 class='text-center'>About Us</h3>
      <p><b> Our Vision:</b>
        At MoveMate, we envision a world where moving is not a hassle but an
        opportunity for growth and new beginnings. We strive to be the
        cornerstone upon which you build your dreams, one move at a time.</p>

      <p>
        <b> Our Mission:</b>
        Our mission is to redefine the way you move. We are committed to
        providing unparalleled moving services, ensuring the safety of your
        belongings, and delivering peace of mind to you and your family. With
        precision, dedication, and a touch of warmth, we handle every move as if
        it were our own.</p>
      <p>
        <b>Why Choose MoveMate:</b></p>
      <ul>
        <li>1.<b>Experience:</b>
          With years of experience in the moving industry, we bring a wealth of
          knowledge and expertise to your move. Our seasoned professionals have
          successfully handled a diverse range of moves, making us adept at
          overcoming any challenges that might arise during your relocation.</li>
        <br />
        <li>2.
          <b>Reliability:</b>
          When you choose MoveMate, you choose reliability. We understand the
          significance of your belongings, and we treat them with the utmost
          care. From the moment we pack your first box to the moment we unpack
          your last, you can count on us to handle your possessions as if they
          were priceless treasures.</li>
        <br />
        <li>
          3.
          <b>Customer-Centric Approach:</b>
          Your satisfaction is our priority. We listen to your unique needs,
          tailoring our services to match your requirements. Our team is always
          ready to assist you, providing personalized solutions and ensuring a
          positive moving experience.</li>
        <br />
        <li>
          4.
          <b>Transparency:</b>
          We believe in open communication and transparent processes. Our
          pricing is clear, comprehensive, and devoid of hidden charges. We keep
          you informed at every step, ensuring you have complete clarity about
          your move.</li>
        <br />
        <li>
          5.
          <b>Community Engagement:</b>
          MoveMate is more than just a moving company; we are a part of your
          community. We actively engage with local initiatives, supporting the
          neighborhoods we serve. Your trust in us empowers us to give back and
          create a positive impact.</li>

      </ul>
    </div>
  </div>
</section>

<section class='row mb-5'>
  <div style='height: 200px;' class='d-none d-xl-block'>
    <div class='bg-van'></div>
  </div>
  <div class='d-flex justify-content-center color-yellow mt-2 mb-2'>
    <div
      class='col-10 text-center pt-3 pb-2 bg-blue card-shadow'
      style='border-radius: 5px;'
    >
      <h3 class='text-white'>Join the MoveMate Experience:</h3>
      <p>Join the MoveMate family and experience moving like never before. Let
        us handle the logistics while you focus on the excitement of your new
        journey. With MoveMate, your moving adventure begins and ends with a
        smile. Embark on Your Journey with MoveMate - Where Moving Feels Like
        Home.</p>
      <p>At MoveMate, Your Move Is Our Priority:We understand that moving can be
        a significant life event. At MoveMate, we don't just move your
        belongings; we move your life. With our dedicated team, advanced
        technology, and personalized services, we are committed to providing you
        with a seamless and stress-free moving experience. Trust MoveMate to
        handle your move, and let your new chapter begin with confidence.</p>
    </div>
  </div>
  <div style='height: 200px;' class='d-none d-xl-block'>
    <div class='bg-van'></div>
  </div>
</section>

{{! <section class='d-flex flex-row pt-5 flex-row justify-content-center position-relative'>
  <div
    class='background-img-city position-absolute mt-5'
    style='top: 100px;'
  ></div>

  <div class='col-8 flex-row d-flex justify-content-center'>
    <div class='col-6 position-relative custom-card-1'>
      <img
        src='/images/happy-men.jpg'
        class='object-fit-cover border rounded'
        alt='portrait happy man delivery box and hand shake gesture'
      />
    </div>
    <div
      class='col-6 bg-primary-subtle rounded position-relative custom-card-2'
    >
      <h1 class='text-center'>About Us</h1>
      <p><b> Our Vision:</b>At MoveMate, we envision a world where moving is not
        a hassle but an opportunity for growth and new beginnings. We strive to
        be the cornerstone upon which you build your dreams, one move at a time.</p>
      <p>
        <b> Our Mission:</b>Our mission is to redefine the way you move. We are
        committed to providing unparalleled moving services, ensuring the safety
        of your belongings, and delivering peace of mind to you and your family.
        With precision, dedication, and a touch of warmth, we handle every move
        as if it were our own.</p>
    </div>
  </div>

  <div class='col-10 flex-row d-flex justify-content-center'>
    <div
      class='col-5 bg-primary-subtle rounded position-relative custom-card-3'
    >
      <h1>About Us</h1>
      <p>
        <b>Why Choose MoveMate:</b>

        1. Experience: With years of experience in the moving industry, we bring
        a wealth of knowledge and expertise to your move. Our seasoned
        professionals have successfully handled a diverse range of moves, making
        us adept at overcoming any challenges that might arise during your
        relocation. 2. Reliability: When you choose MoveMate, you choose
        reliability. We understand the significance of your belongings, and we
        treat them with the utmost care. From the moment we pack your first box
        to the moment we unpack your last, you can count on us to handle your
        possessions as if they were priceless treasures.

      </p>
      <p>
        3. Customer-Centric Approach: Your satisfaction is our priority. We
        listen to your unique needs, tailoring our services to match your
        requirements. Our team is always ready to assist you, providing
        personalized solutions and ensuring a positive moving experience. 4.
        Transparency: We believe in open communication and transparent
        processes. Our pricing is clear, comprehensive, and devoid of hidden
        charges. We keep you informed at every step, ensuring you have complete
        clarity about your move. 5. Community Engagement: MoveMate is more than
        just a moving company; we are a part of your community. We actively
        engage with local initiatives, supporting the neighborhoods we serve.
        Your trust in us empowers us to give back and create a positive impact.

        <b> Join the MoveMate Experience:</b>
        Join the MoveMate family and experience moving like never before. Let us
        handle the logistics while you focus on the excitement of your new
        journey. With MoveMate, your moving adventure begins and ends with a
        smile. Embark on Your Journey with MoveMate - Where Moving Feels Like
        Home.</p>
      <p>At MoveMate, Your Move Is Our Priority:We understand that moving can be
        a significant life event. At MoveMate, we don't just move your
        belongings; we move your life. With our dedicated team, advanced
        technology, and personalized services, we are committed to providing you
        with a seamless and stress-free moving experience. Trust MoveMate to
        handle your move, and let your new chapter begin with confidence.</p>
    </div>
    <div class='col-6 position-relative custom-card-4'></div>

  </div>
</section> }}

{{! -------------------- }}

{{!-- {{! Content }}
<section class='col-12 d-flex flex-row justify-content-center mt-5 bg-blue'>
  <div class='col-3 text-center bg-body custom-div-1 position-relative mr-5'>
    <h2>Key Benefits of Shipping with Move Mate</h2>
  </div>

  <ul class='col-6 bg-body position-relative custom-div-2 p-5'>
    <li><span class='fw-bold'>Quick and Personalized Shipping Quote:</span>
      <br />
      At Navis Pack & Ship in , , we recognize that each shipment is unique and
      requires a customized approach. That's why our team delivers quick and
      personalized quotes to match your specific needs and budget. Navis
      partners with multiple shipping carriers to provide options for our
      customers. Trust us to provide the right shipping solution for you.</li>
    <br />
    <li>
      <span class='fw-bold'> Specialized Packing & Crating Services</span>
      <br />
      Don’t worry about your shipment while it’s in transit. Navis Pack & Ship's
      expert packing techniques, such as Foam-In-Place, cushioning, and blocking
      & bracing, guarantee a secure shipment every time. For fragile, large, or
      high value items, Navis also offers custom furniture crating to protect
      your shipment against damage.</li>
    <br />
    <li>
      <span class='fw-bold'>No Minimums or Weight Restrictions</span>
      <br />
      At Move Mate, there are no minimums or weight restrictions. This means
      that shipping furniture with us is more convenient, affordable and
      accessible to everyone.</li>
    <br />
    <li>
      <span class='fw-bold'>Declared Value Coverage</span><br />
      We offer declared value coverage up to any value, based on your individual
      shipment needs. This gives you peace of mind knowing your furniture is
      protected.</li>
    <br />
    <li>
      <span class='fw-bold'>Full Service Pickup in the U.S</span>
      <br />
      Our full-service pickup in the U.S makes shipping furniture with Move Mate
      even more convenient. If you don’t have the means to bring your shipment
      to our location, simply call Navis and schedule a pickup when it’s
      convenient for you.</li>
    <br />
    <li>
      <span class='fw-bold'>White Glove Delivery</span>
      <br />
      Step up your shipping game with our white glove delivery option, including
      delivering items to the room of your choice – available for your business
      or residence</li>
  </ul>
  <div class="col-12 bg-blue" style="height: 50px;"></div>
</section>

{{! ---------------- }} --}}