  {{! Video Section }}
<section class='position-relative custom-hero'>
  <video
    class='position-absolute'
    src='/images/videoMoveMate (2).mp4'
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class='position-relative custom-container-text'>
    <h1 class='text-white' style='font-size: 350%;'>Delivery Made Simple</h1>
    <p class='text-white' style='font-size: 100%;'>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Animi voluptatem delectus adipisci
      voluptatibus dolorem.</p>
  </div>
</section>

{{! ------------------ }}
{{! Map Sesion }}
<div class='position-relative border-2'>
  <div class='background-img-map position-absolute'></div>
  <section class='row d-flex justify-content-center custom-section-map'>
    <div class='col-10 card mb-3 border'>
      <div class='row g-0'>
        <div class='col-md-4 p-0'>
          <img
            src='/images/map.jpg'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body text-black'>
            <h5 class='card-title'>We Provide Service Across All The United
              Estates</h5>
            <p class='card-text'>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Animi fuga itaque velit, asperiores facere
              voluptatum? Natus fugit distinctio veniam officia, voluptatem
              laudantium nihil, minus eveniet nostrum quasi, consequuntur
              laboriosam! Incidunt sint repellat ab at officia culpa,
              dignissimos minus a excepturi eius sit, ducimus dolore recusandae
              ipsa dolor reiciendis maxime neque.</p>
            <p class='card-text'>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Animi fuga itaque velit, asperiores facere
              voluptatum? Natus fugit distinctio veniam officia, voluptatem
              laudantium nihil, minus eveniet nostrum quasi, consequuntur
              laboriosam! Incidunt sint repellat ab at officia culpa,
              dignissimos minus a excepturi eius sit, ducimus dolore recusandae
              ipsa dolor reiciendis maxime neque.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{! ---------------------- }}
  {{! Cards Section }}
  <section
    class='d-flex flex-row justify-content-center justify-content-evenly custom-section-cards'
  >

    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/6.png' class='card-img-top' alt='...' />
      <div class=''>
        <h2>Fast Service</h2>
        <p class=''>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fuga cumque a dolorem omnis vitae?</p>
      </div>

    </div>
    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/12.png ' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>Care</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Quam sequi adipisci numquam enim minus.</p>
      </div>

    </div>

    <div
      class='card custom-card-animation border border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/13.png' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>24/7 Support</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Perferendis accusamus iste vel cumque reiciendis?</p>
      </div>

    </div>
  </section>
</div>
{{! ----------------------- }}

{{!How Move Mate Work  }}

<section
  class='container-sm mt-5 d-flex flex-row justify-content-evenly py-sm-3 mb-4 text-center'
>
  <h1 class='col-12 mb-3'>How Move Mate Work?</h1>
  <div class='col-2'>

    <img
      src='https://elements-cover-images-0.imgix.net/34964ab0-441c-4da7-8cd6-260df6f09aec?auto=compress%2Cformat&w=1370&fit=max&s=e56a9007e3144efdea6aa690a8d0e34a'
      class='card-img-top img-fluid mb-2'
      alt=''
    />

    <h4>1. Enter Your Details</h4>
    <p class='mx-auto text-navy-70'>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Odio, asperiores.</p>
  </div>
  <div class='col-2'>
    <img
      src='https://elements-cover-images-0.imgix.net/91c9c197-f11d-48ea-9307-8f5df065d866?auto=compress%2Cformat&fit=max&w=1370&s=e857022b09b8d079c30fa448455efd42'
      class='card-img-top img-fluid mb-2'
      alt=''
    />
    <h4>2. Follow Your Shipment</h4>
    <p class='mx-auto text-navy-70'>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Repellat, nisi!</p>
  </div>
  <div class='col-2'>
    <div class='img-small'>
      <img
        src='https://elements-cover-images-0.imgix.net/91c9c197-f11d-48ea-9307-8f5df065d866?auto=compress%2Cformat&fit=max&w=1370&s=e857022b09b8d079c30fa448455efd42'
        class='card-img-top img-fluid mb-2'
        alt=''
      />
    </div>
    <h4>3. Review and Tip</h4>
    <p class='mx-auto text-navy-70'>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Minima, eligendi.</p>
  </div>
  <div class='col-12'>
    <button type='button' class='btn btn-primary'>Click Here to Log In</button>
  </div>

</section>

{{! ------------------ }}

{{! Numbers Section }}
<section class='custom-container-number text-light pt-5' style='height: 300px;'>

  <div class='text-center'>
    <h2>Use Move Mate for all of your delivery & moving needs.</h2>
  </div>
  <div class='d-flex justify-content-evenly text-center'>
    <div>
      <h3 class='number' id='num0' data-count='1500'>0</h3>
      <h5 class='number-text'>Deivered Package</h5>
    </div>
    <div>
      <h3 class='number' id='num1' data-count='900'>0</h3>
      <h5 class='number-text'>Office Wordwide</h5>
    </div>
    <div>
      <h3 class='number' id='num2' data-count='900'>0</h3>
      <h5 class='number-text'>Employees</h5>
    </div>
    <div>
      <h3 class='number' id='num3' data-count='900'>0</h3>
      <h5 class='number-text'>Tons of Goods</h5>
    </div>
  </div>
</section>
{{! -------------- }}
{{! About Us Section }}

<section class='d-flex pt-5 flex-row justify-content-center position-relative'>
  <div
    class='background-img-city position-absolute mt-5'
    style='top: 100px;'
  ></div>

  <div class='col-8 flex-row d-flex justify-content-center'>
    <div class='col-6 position-relative custom-card-1'>
      <img
        src='/images/portrait-happy-man-delivery-box-and-hand-shake-ge-2023-09-06-22-30-31-utc.jpg'
        class='object-fit-cover border rounded'
        alt=''
      />
    </div>
    <div
      class='col-6 bg-primary-subtle rounded position-relative custom-card-2'
    >
      <h1 class='text-center'>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ipsa pariatur, explicabo facilis labore consectetur commodi architecto
        vel iusto laudantium odit aliquam beatae minus qui quos. Necessitatibus
        commodi nihil deleniti eveniet voluptates harum id magnam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero,
        nemo eaque nobis fugiat, eos nesciunt ratione aliquam, repudiandae esse
        perferendis dolor quidem culpa sed natus deleniti asperiores recusandae
        deserunt?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
        reprehenderit rerum ad aut sequi, est odio delectus voluptates iusto
        dolorum voluptatum cupiditate animi incidunt porro modi exercitationem
        ex sed molestiae velit, laborum harum mollitia maiores ratione. Cum
        debitis libero eligendi fugit. Omnis eos eum voluptatem reprehenderit
        animi, tempore dolore aut?</p>
    </div>
  </div>

  <div class='col-10 flex-row d-flex justify-content-center'>
    <div
      class='col-5 bg-primary-subtle rounded position-relative custom-card-3'
    >
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ipsa pariatur, explicabo facilis labore consectetur commodi architecto
        vel iusto laudantium odit aliquam beatae minus qui quos. Necessitatibus
        commodi nihil deleniti eveniet voluptates harum id magnam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero,
        nemo eaque nobis fugiat, eos nesciunt ratione aliquam, repudiandae esse
        perferendis dolor quidem culpa sed natus deleniti asperiores recusandae
        deserunt?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi
        iure numquam delectus dolore eveniet. Natus assumenda provident commodi
        est aut nisi aliquid praesentium quo iure voluptate, fugiat incidunt
        ullam, reprehenderit quam? Numquam reprehenderit quam sint veritatis nam
        consectetur ea maiores aliquam beatae. Cupiditate nihil laboriosam
        suscipit earum dignissimos expedita?</p>
    </div>
    <div class='col-6 position-relative custom-card-4'></div>

  </div>
</section>

{{! -------------------- }}
<div class="col-12" style="height: 50px;"></div>
{{!-- {{! Content }}
<section class='col-12 d-flex flex-row justify-content-center mt-5 bg-blue'>
  <div class='col-3 text-center bg-body custom-div-1 position-relative mr-5'>
    <h2>Key Benefits of Shipping with Move Mate</h2>
  </div>

  <ul class='col-6 bg-body position-relative custom-div-2 p-5'>
    <li><span class='fw-bold'>Quick and Personalized Shipping Quote:</span>
      <br />
      At Navis Pack & Ship in , , we recognize that each shipment is unique and
      requires a customized approach. That's why our team delivers quick and
      personalized quotes to match your specific needs and budget. Navis
      partners with multiple shipping carriers to provide options for our
      customers. Trust us to provide the right shipping solution for you.</li>
    <br />
    <li>
      <span class='fw-bold'> Specialized Packing & Crating Services</span>
      <br />
      Don’t worry about your shipment while it’s in transit. Navis Pack & Ship's
      expert packing techniques, such as Foam-In-Place, cushioning, and blocking
      & bracing, guarantee a secure shipment every time. For fragile, large, or
      high value items, Navis also offers custom furniture crating to protect
      your shipment against damage.</li>
    <br />
    <li>
      <span class='fw-bold'>No Minimums or Weight Restrictions</span>
      <br />
      At Move Mate, there are no minimums or weight restrictions. This means
      that shipping furniture with us is more convenient, affordable and
      accessible to everyone.</li>
    <br />
    <li>
      <span class='fw-bold'>Declared Value Coverage</span><br />
      We offer declared value coverage up to any value, based on your individual
      shipment needs. This gives you peace of mind knowing your furniture is
      protected.</li>
    <br />
    <li>
      <span class='fw-bold'>Full Service Pickup in the U.S</span>
      <br />
      Our full-service pickup in the U.S makes shipping furniture with Move Mate
      even more convenient. If you don’t have the means to bring your shipment
      to our location, simply call Navis and schedule a pickup when it’s
      convenient for you.</li>
    <br />
    <li>
      <span class='fw-bold'>White Glove Delivery</span>
      <br />
      Step up your shipping game with our white glove delivery option, including
      delivering items to the room of your choice – available for your business
      or residence</li>
  </ul>
  <div class="col-12 bg-blue" style="height: 50px;"></div>
</section>

{{! ---------------- }} --}}

<script src='/js/julio.js'></script>