<video
  class='position-absolute'
  src='/images/videoMoveMate.mp4'
  autoplay
  loop
  playsinline
  muted
></video>

<div class='position-relative text-center custom-container-text'>
  <h1 class='text-light' style='font-size: 350%;'>Delivery Made Simple</h1>
  <p class='text-light' style='font-size: 100%;'>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Animi voluptatem delectus adipisci
    voluptatibus dolorem.</p>
</div>

<section>
  <div>
    <img src="" alt="">
  </div>
</section>
<script src='/js/julio.js'></script>