{{! Video Section }}
<section class='position-relative custom-hero'>
  <video
    class='position-absolute'
    src='/images/videoMoveMate.mp4'
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class='position-relative custom-container-text'>
    <h1 class='text-light' style='font-size: 350%;'>Delivery Made Simple</h1>
    <p class='text-light' style='font-size: 100%;'>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Animi voluptatem delectus adipisci
      voluptatibus dolorem.</p>
  </div>
</section>
{{! ------------------ }}
<div class="background-img-map">
<section class='row d-flex justify-content-center custom-section-map'>
  <div class='col-10 card mb-3 border'>
    <div class='row g-0'>
      <div class='col-md-4 p-0'>
        <img
          src='/images/map.jpg'
          class='img-fluid rounded-start'
          alt='...'
        />
      </div>
      <div class='col-md-8'>
        <div class='card-body'>
          <h5 class='card-title'>Card title</h5>
          <p class='card-text'>This is a wider card with supporting text below
            as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <p class='card-text'><small class='text-body-secondary'>Last updated 3
              mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

{{! Cards Section }}
<section class='d-flex flex-row justify-content-center custom-section-cards'>
  
  <div class='card m-2 border-0' style='width: 18rem;'>
    <img src='/images/icons/6.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type='button' class='btn btn-primary btn-lg'>Large button</button>
  </div>
  <div class='card m-2 border' style='width: 18rem;'>
    <img src='/images/icons/11.png ' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type='button' class='btn btn-primary btn-lg'>Large button</button>
  </div>
  <div class='card m-2 border border-0' style='width: 18rem;'>
    <img src='/images/icons/7.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type='button' class='btn btn-primary btn-lg'>Large button</button>
  </div>
  <div class='card m-2 border border-0' style='width: 18rem;'>
    <img src='/images/icons/13.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type='button' class='btn btn-primary btn-lg'>Large button</button>
  </div>
</section>
</div>
{{! ----------------------- }}

<script src='/js/julio.js'></script>