{{! Video Section }}
<section class='position-relative custom-hero'>
  <video
    class='position-absolute'
    src='/images/videoMoveMate.mp4'
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class='position-relative custom-container-text'>
    <h1 class='text-light' style='font-size: 350%;'>Delivery Made Simple</h1>
    <p class='text-light' style='font-size: 100%;'>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Animi voluptatem delectus adipisci
      voluptatibus dolorem.</p>
  </div>
</section>
{{! ------------------ }}
<div class='position-relative'>
  <div class='background-img-map position-absolute'></div>
  <section class='row d-flex justify-content-center custom-section-map'>
    <div class='col-10 card mb-3 border'>
      <div class='row g-0'>
        <div class='col-md-4 p-0'>
          <img
            src='/images/map.jpg'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8'>
          <div class='card-body'>
            <h5 class='card-title'>Card title</h5>
            <p class='card-text'>This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class='card-text'><small class='text-body-secondary'>Last updated
                3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Cards Section }}
  <section class='d-flex flex-row justify-content-center justify-content-evenly custom-section-cards'>

    <div class='card m-2 border-0 text-center bg-primary-subtle' style='width: 18rem;'>
      <img src='/images/icons/6.png' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>Fast Service</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque a dolorem omnis vitae?</p>
      </div>
      
    </div>
    <div
      class='card m-2 border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/12.png ' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>Care</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sequi adipisci numquam enim minus.</p>
      </div>
      
    </div>
    
    
    <div
      class='card m-2 border border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/13.png' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>24/7 Support</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus iste vel cumque reiciendis?</p>
      </div>
      
    </div>
  </section>
</div>
{{! ----------------------- }}


{{!-- About Us Section --}}
  <section class="row container d-flex  justify-content-evenly bg-primary-subtle position-relative custom-section-about">
    <div class="col-5 text-center">
      <h1>About Us</h1>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsa pariatur, explicabo facilis labore consectetur commodi architecto vel iusto laudantium odit aliquam beatae minus qui quos. Necessitatibus commodi nihil deleniti eveniet voluptates harum id magnam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero, nemo eaque nobis fugiat, eos nesciunt ratione aliquam, repudiandae esse perferendis dolor quidem culpa sed natus deleniti asperiores recusandae deserunt?</p>
    </div>
  </section>

{{!-- -------------------- --}}

<script src='/js/julio.js'></script>