<section class='position-relative custom-hero'>
  <video
    class='position-absolute'
    src='/images/videoMoveMate.mp4'
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class='position-relative custom-container-text'>
    <h1 class='text-light' style='font-size: 350%;'>Delivery Made Simple</h1>
    <p class='text-light' style='font-size: 100%;'>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Animi voluptatem delectus adipisci
      voluptatibus dolorem.</p>
  </div>
</section>

<div style='height: 50px;'></div>

<section class='d-flex flex-row justify-content-center custom-section-cards'>

  <div class='card m-2' style='width: 18rem;'>
    <img src='/images/icons/6.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
  <div class='card m-2' style='width: 18rem;'>
    <img src='/images/icons/11.png ' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
  <div class='card m-2' style='width: 18rem;'>
    <img src='/images/icons/7.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
  <div class='card m-2' style='width: 18rem;'>
    <img src='/images/icons/13.png' class='card-img-top' alt='...' />
    <div class='card-body'>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
</section>

<script src='/js/julio.js'></script>