{{! Video Section }}
<section class='position-relative custom-hero'>
  <video
    class='position-absolute'
    src='/images/videoMoveMate (2).mp4'
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class='position-relative custom-container-text'>
    <h1 class='text-light' style='font-size: 350%;'>Delivery Made Simple</h1>
    <p class='text-light' style='font-size: 100%;'>Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Animi voluptatem delectus adipisci
      voluptatibus dolorem.</p>
  </div>
</section>
{{! ------------------ }}
<div class='position-relative'>
  <div class='background-img-map position-absolute'></div>
  <section class='row d-flex justify-content-center custom-section-map'>
    <div class='col-10 card mb-3 border'>
      <div class='row g-0'>
        <div class='col-md-4 p-0'>
          <img
            src='/images/map.jpg'
            class='img-fluid rounded-start'
            alt='...'
          />
        </div>
        <div class='col-md-8 bg-blue'>
          <div class='card-body text-light'>
            <h5 class='card-title'>We Provide Service Across All The United
              Estates</h5>
            <p class='card-text'>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Animi fuga itaque velit, asperiores facere
              voluptatum? Natus fugit distinctio veniam officia, voluptatem
              laudantium nihil, minus eveniet nostrum quasi, consequuntur
              laboriosam! Incidunt sint repellat ab at officia culpa,
              dignissimos minus a excepturi eius sit, ducimus dolore recusandae
              ipsa dolor reiciendis maxime neque.</p>
            <p class='card-text'>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Animi fuga itaque velit, asperiores facere
              voluptatum? Natus fugit distinctio veniam officia, voluptatem
              laudantium nihil, minus eveniet nostrum quasi, consequuntur
              laboriosam! Incidunt sint repellat ab at officia culpa,
              dignissimos minus a excepturi eius sit, ducimus dolore recusandae
              ipsa dolor reiciendis maxime neque.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Cards Section }}
  <section
    class='d-flex flex-row justify-content-center justify-content-evenly custom-section-cards'
  >

    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/6.png' class='card-img-top' alt='...' />
      <div class=''>
        <h2>Fast Service</h2>
        <p class=''>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fuga cumque a dolorem omnis vitae?</p>
      </div>

    </div>
    <div
      class='card custom-card-animation border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/12.png ' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>Care</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Quam sequi adipisci numquam enim minus.</p>
      </div>

    </div>

    <div
      class='card custom-card-animation border border-0 text-center bg-transparent'
      style='width: 18rem;'
    >
      <img src='/images/icons/13.png' class='card-img-top' alt='...' />
      <div class='card-body'>
        <h2>24/7 Support</h2>
        <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Perferendis accusamus iste vel cumque reiciendis?</p>
      </div>

    </div>
  </section>
</div>
{{! ----------------------- }}

{{! About Us Section }}
<section class='d-flex justify-content-center bg-blue'>
  <div class='col-10 flex-row d-flex justify-content-center'>
    <div class='col-6 position-relative custom-card-1'>
      <img
        src='/images/portrait-happy-man-delivery-box-and-hand-shake-ge-2023-09-06-22-30-31-utc.jpg'
        class='object-fit-cover border rounded'
        alt=''
      />
    </div>
    <div
      class='col-6 bg-primary-subtle rounded position-relative custom-card-2'
    >
      <h1 class='text-center'>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ipsa pariatur, explicabo facilis labore consectetur commodi architecto
        vel iusto laudantium odit aliquam beatae minus qui quos. Necessitatibus
        commodi nihil deleniti eveniet voluptates harum id magnam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero,
        nemo eaque nobis fugiat, eos nesciunt ratione aliquam, repudiandae esse
        perferendis dolor quidem culpa sed natus deleniti asperiores recusandae
        deserunt?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
        reprehenderit rerum ad aut sequi, est odio delectus voluptates iusto
        dolorum voluptatum cupiditate animi incidunt porro modi exercitationem
        ex sed molestiae velit, laborum harum mollitia maiores ratione. Cum
        debitis libero eligendi fugit. Omnis eos eum voluptatem reprehenderit
        animi, tempore dolore aut?</p>
    </div>
  </div>
</section>
<section class='d-flex justify-content-center bg-blue'>
  <div class='col-10 flex-row d-flex justify-content-center'>
    <div
      class='col-6 bg-primary-subtle rounded position-relative custom-card-3'
    >
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ipsa pariatur, explicabo facilis labore consectetur commodi architecto
        vel iusto laudantium odit aliquam beatae minus qui quos. Necessitatibus
        commodi nihil deleniti eveniet voluptates harum id magnam.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vero,
        nemo eaque nobis fugiat, eos nesciunt ratione aliquam, repudiandae esse
        perferendis dolor quidem culpa sed natus deleniti asperiores recusandae
        deserunt?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi
        iure numquam delectus dolore eveniet. Natus assumenda provident commodi
        est aut nisi aliquid praesentium quo iure voluptate, fugiat incidunt
        ullam, reprehenderit quam? Numquam reprehenderit quam sint veritatis nam
        consectetur ea maiores aliquam beatae. Cupiditate nihil laboriosam
        suscipit earum dignissimos expedita?</p>
    </div>
    <div class='col-6 position-relative custom-card-4'></div>

  </div>
</section>

{{! -------------------- }}

{{! Numbers }}

{{! ---------------- }}

<script src='/js/julio.js'></script>