{{!-- {Image of a someone holding a phone with words..Have any Questions} --}}
<body>
   <div id="About Us">
   <header style="height: 363px; width:100%">
    <img src="/images/2.png" style:"width:100%; height:100%; object-fit:cover"> 
   </header>
   
   </div>
</body>