{{!-- {Image of a someone holding a phone with words..Have any Questions} --}}
<body>
   <div id ="header">
      <header style="height: 363px; width:100%">
    <img src="/images/Blue and Orange Spring Sale eCommerce Website Banner.png" style:"width:100%; height:100%; object-fit:cover"> 
   </header>
    </div>
      </div>
   </div> 
   <div id="feature">
   <p> Feature</p>
  </div>
 <div id="movematevideos">
  <video id="video"controls >
  <source src="/images/MoveMatevideo.mp4" type="video/mp4" />
  </video>
 
<div class="article column1">
   <p> column One </p>
</div>
<div class="article column2">
   <p> column Two </p>
</div>
<div class="article column3">
   <p> column Three </p>
</div>
<div id="footer">
   <p>&copy; Copyright 2023</p>
</div>


   </div>
</body>