<section class='d-flex justify-content-center'>
  <div class='col-3 p-5 m-5 card-shadow rounded'>
    <div>
      <h5 class="text-center mb-5 spacing buttn from-center">PRICING</h5>
    </div>
    <div class='mb-3'>
      <label for='pickup' class='form-label'>Pickup Location &#8679</label>
      <input type='text' class='form-control' id='pickup' required />
      <div id='emailHelp' class='form-text'>Building Number, Street Number, City
        Name, State Abbreviation, Zip Code</div>
    </div>
    <div class='mb-3'>
      <label for='dropoff' class='form-label'>Set Drop Off &#8681</label>
      <input type='text' class='form-control' id='dropoff' />
      <div id='emailHelp' class='form-text'>Building Number, Street Number, City
        Name, State Abbreviation, Zip Code</div>
    </div>
    <div class="d-flex justify-content-center">
    <button
      type='submit'
      onclick='calculateDistance()'
      class='navigation navigation-center border-0 card-shadow bg-blue'
    >Submit</button>
    </div>
    <div>
      <h5 class="m-2 mt-3">Distance in miles: <span id='distance'></span></h5>
      {{!-- <p>Price per mile: <span id='priceMile'></span></p> --}}
      <h5 class="m-2 mt-3">Estimate price: <span id='estimatePrice'></span></h5>
    </div>
  </div>
  <div class='col-6 m-5' id='map'></div>
</section>
<script
  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7DjcxFR_9GCsVLom_TYGMCndyt_10MZg&libraries=places'
  async
  defer
></script>

<script src='js/pricing.js'></script>