<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7DjcxFR_9GCsVLom_TYGMCndyt_10MZg&libraries=places" async defer></script>

<link rel="stylesheet" href="css/pricing.css">
</head>


<div class="containerWrapper">
<div class="containerOne">
    <h1>Move Mate</h1>
    <label for="pickup">&#8679; Set Pickup Location</label>
    <input type="text" id="pickup" required><br><br>

    <label for="dropoff">&#8681; Set Drop Off Location</label>
    <input type="text" id="dropoff" required><br><br>

    <button onclick="calculateDistance()">Get Estimate &#8680;</button><br><br>

    <p>Distance: <span id="distance"></span></p>
    <p>Price per mile: <span id="priceMile"></span></p>
    <p>Estimate price: <span id="estimatePrice"></span></p>
    </div>

    <div class="containerTwo" id="map"></div>
    

</div>
 
    <script src="js/pricing.js"></script>