<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7DjcxFR_9GCsVLom_TYGMCndyt_10MZg&libraries=places" async defer></script>

<link rel="stylesheet" href="css/pricing.css">
</head>


<div class="containerWrapper">
<div class="containerOne">
    <h1>Move Mate</h1>
        <!-- Pickup Address -->
            <label for="pickupAddress">&#8679; Pickup Address:</label>
            <input type="text" id="pickupAddress" placeholder="Address">
            <input type="text" id="pickupCity" placeholder="City">
            <input type="text" id="pickupState" placeholder="State">
            <input type="text" id="pickupZip" placeholder="Zip Code">

            <!-- Dropoff Address -->
            <label for="dropoffAddress">&#8681; Dropoff Address:</label>
            <input type="text" id="dropoffAddress" placeholder="Address">
            <input type="text" id="dropoffCity" placeholder="City">
            <input type="text" id="dropoffState" placeholder="State">
            <input type="text" id="dropoffZip" placeholder="Zip Code">

    <!-- Button to Calculate Distance -->
            <button onclick="calculateDistance()">Get Estimate &#8680;</button><br><br>

    <p>Distance in miles: <span id="distance"></span></p>
     <p>Price per mile: $4.89</p>
    <p>Estimate price: $<span id="estimatePrice"></span></p>
    </div>

    <div class="containerTwo" id="map"></div>
    

</div>
 
    <script src="js/pricing.js"></script>