{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick and Drop Delivery</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
            border: 2px solid black;
        }
    </style>
    <script src="/getApiKey" async defer></script>

</head>
<body> --}}
    <h1>Pick and Drop Delivery</h1>
    <label for="pickup">Pickup address:</label>
    <input type="text" id="pickup" required><br><br>

    <label for="dropoff">Drop address:</label>
    <input type="text" id="dropoff" required><br><br>

    <button onclick="calculateDistance()">Press to get distance</button><br><br>

    <p>Distance: <span id="distance"></span></p>

    <div id="map"></div>
    <script src="/getApiKey" async defer></script>

    <script src="public/js/map.js"></script>
</body>
</html>