<div class='row d-flex justify-content-center mt-5 mb-5'>
  <div class='col-8 col-md-4 col-lg-3 col-xl-3 card-shadow rounded'>
    <h2 class=' col-12 mt-3 text-center spacing buttn from-center'>Signup</h2>

    <form class='form signup-form '>
      <div class='form-group mb-3'>
        <label for='name-signup' class="form-label">Name:</label>
        <input class='form-control' type='text' id='name-signup' />
      </div>
      <div class='form-group mb-3'>
        <label for='email-signup'>Email:</label>
        <input class='form-control' type='text' id='email-signup' />
      </div>
      <div class='form-group mb-3'>
        <label for='password-signup'>Password:</label>
        <input class='form-control' type='password' id='password-signup' />
      </div>
      <div class='d-flex justify-content-center m-5'>
        <button class='navigation navigation-center border-0 card-shadow bg-blue' type='submit'>Signup</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/signup.js'></script>