.containerWrapper {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.containerOne,
.containerTwo {
  flex: 0 0 48%; /* Adjust flex basis as needed */
  box-sizing: border-box;
  margin: 10px;
}
input,
button {
  margin: 10px;
  padding: 12px 20px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #0c1239;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f6a604;
}
/* Style for Pickup and Dropoff Address Input Fields */
#pickupAddress,
#dropoffAddress {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
}

#pickupCity,
#dropoffCity,
#pickupState,
#dropoffState,
#pickupZip,
#dropoffZip {
  width: calc(50% - 6px);
  padding: 12px;
  margin-bottom: 10px;
  margin-right: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
}

#pickupCity,
#dropoffCity {
  float: left;
}

#pickupState,
#dropoffState {
  float: left;
}

#pickupZip,
#dropoffZip {
  float: right;
}

@media (max-width: 768px) {
  .containerOne,
  .containerTwo {
    max-width: 100%; /* Adjusted max-width for smaller screens */
  }

  #pickupCity,
  #dropoffCity,
  #pickupState,
  #dropoffState,
  #pickupZip,
  #dropoffZip {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
@media (max-width: 576px) {
    #pickupCity,
    #dropoffCity,
    #pickupState,
    #dropoffState,
    #pickupZip,
    #dropoffZip {
        width: 100%;
        margin-bottom: 10px;
        float: none;
    }
}
