body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.containerOne, .containerTwo {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.containerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerWrapper .containerOne,
.containerWrapper .containerTwo {
    flex: 0 0 calc(100% - 10px);
    margin: 10 5px;
}

input,
button {
    margin: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#distance {
    font-weight: bold;
}

@media (min-width: 768px) {
    .containerOne, .containerTwo {
        max-width: 1000px;
    }
}